body {
	padding: 50px;
	border: solid;
}
header {
	padding: 30px;
	background-color: #FFF409;
	text-align: center;
	font-family: Monospace;
	font-weight: 30px;
	line-height: 10px;
}
a {
	text-decoration: none;
	color: black;
}
.edu {
	padding: 20px;
	background-color: #DAFF09;
	line-height: 20px;
	font-style: italic;
}
.edu h2{
	text-align: center;
	font-family: monospace;
	padding: 5px;
	font-family: serif;
}
.edu dt {
	font-family: sans-serif;
}
.edu dd {
	margin-left: 50px;
}
.contain {
	padding :20px;
	background: #A9FF09;
	margin-top: 0px;
	margin: 100px auto;
	display: flex;
	justify-content: center;
}
.box {
	padding: 30px;
	width : 400px;
	height:300px;
	background: orange;
	margin : 0px 10px;
	transition: 1s;
	justify-content: center;
	font-family: cursive;
}
.box:hover {
	transform:scale(1.3);
	background: #ff800a;
	box-shadow: 2px 2px 2px #000;
	z-index: 2;
}
.box1 {
	padding: 30px;
	width : 500px;
	height:400px;
	background: #09E9FF;
	margin : 0px 10px;
	transition: 1s;
	justify-content: center;
	font-family: cursive;
}
.box1:hover {
	transform:scale(1.3);
	background: #34D0DF;
	box-shadow: 2px 2px 2px #000;
	z-index: 2;
}
.info{
	padding: 10px;
	font-family: fantasy;
}
.info table {
	background-color: #B634DF;
}
